body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

#container {
    position: absolute;
    background-color: #F2E9D8;
    overflow: hidden;
}

#menu-button {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#menu-button img {
    width: 100%;
    height: 100%;
}


#image_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#image_container img{
    width: 326px;
    height: 326px;
    border-radius: 18px;
}

#subscribe-container {
    position: absolute;
    background-color: #263140;
    overflow: hidden;
}

#btn-container{
    position: absolute;
}

#text-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* 수직 중앙 정렬 */
}

.sub_text , .main_text2, .main_text4, .sub_text2, .sub_text3{
    text-align: left;
}

#cat-image, #img1, #img2, #img3, #img4, #text-container, #logo, .btn , #img8, #logo2, .insta, .blog, .youtube, .facebook, #menu{
    position: absolute;
}

.btn, .morebtn {
    background-color: #D97652; /* 버튼 배경색 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 마우스를 올렸을 때 커서 모양 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

#main_text-container, #sub_text-container, #btn-container2, #main_text-container2, #sub_text-container2, #main_text-container3, #sub_text-container3, #more-container, #border, #map_text-container, #sub_map_text-container, #map-container, #footer, #footer-icon,#subscribe-main-text, #subscribe-sub-text{
    position: absolute; /* 컨테이너 내부에서 절대 위치 지정 */
    display: flex;
    align-items: center;
}

#footer-menu {
    position: absolute; /* 컨테이너 내부에서 절대 위치 지정 */

}

#more-container{
   flex-direction: column;
}

.blog, .insta, .facebook, .youtube {
    background-color: #D97652; /* 버튼 배경색 */
    border-radius: 50%;
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 마우스를 올렸을 때 커서 모양 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

.blog img, .insta img, .facebook img, .youtube img {
    position: absolute;
    width: 32px; /* 기본 너비 */
    height: 32px; /* 기본 높이 */
    left: 50%; /* 가운데 정렬 */
    top: 50%; /* 가운데 정렬 */
    transform: translate(-50%, -50%);
}

#email-container {
    position: absolute;
    width: 262px;
    height: 40px;
    top: 218px;
    left: 32px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    background-color: #FFF;
    opacity: 1; /* 변경됨 */
}

#mail-icon {
    width: 18px;
    height: 18px;
    margin-left: 16px;
}

#email-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding-left: 16px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 16px;
}

#subscribe-btn {
    position: absolute;
    width: 115px;
    height: 40px;
    left: 177px;
    background-color: #D97652;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* 기본적으로 숨김 */
    justify-content: center;
    align-items: center;
    z-index: 600;
}

/* 팝업 스타일 */
#popup {
    width: 300px;
    height: 300px;
    background: url('popup_background.svg') no-repeat center center;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#popup p {
    font-family: 'Pretendard', sans-serif;
    font-size: 20px; /* 고정 크기 */
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

#close-popup-btn {
    background-color: #D97652;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

#side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* 기본적으로 숨김 */
    justify-content: right;
    align-items: center;
    z-index: 600;
}

/* 팝업 스타일 */
#side {
    width: 289px;
    height: 820px;
    background-color:#263140;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:left;
    opacity: 1;
}

#side p {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px; /* 고정 크기 */
    font-weight: 700;
    text-align: left;
}

.btn:hover, .morebtn:hover, .blog:hover, .insta:hover, .facebook:hover, .youtube:hover, #subscribe-btn:hover,#close-popup-btn:hover {
    background-color: #45a049; /* 마우스를 올렸을 때 배경색 변경 */
}